In [1]:
import pandas as pd
print(pd.__version__)

0.25.1

In [21]:
import pandas as pd
import numpy as np
df=pd.util.testing.makeMixedDataFrame()
df=df.add_prefix('col_')
address = ['delhi', 'Bangalore', 'Chennai', 'Patna','mumbai']
df['address']=address
#df['concatinated']=df.col_C + ','+df.address
row_list=[[rows.col_C,rows.address] for index,rows in df.iterrows()]
#df[['con','catinate']]=df.concatinated.str.split(',',expand=True)
#df.assign(concatinated=df.concatinated.str.split(',',expand=True)).explode('concatinated')
df['concatinated']=row_list
df.explode('concatinated')
df1=df.drop('col_A')
df1

KeyError: "['col_A'] not found in axis"

In [36]:
import pandas as pd
df1=pd.util.testing.makeMixedDataFrame()
df2=df1.drop([2,3],axis='rows')
df=pd.merge(df1,df2,validate='one_to_one',indicator=True)
df

     A    B     C          D _merge
0  0.0  0.0  foo1 2009-01-01   both
1  1.0  1.0  foo2 2009-01-02   both
2  4.0  0.0  foo5 2009-01-07   both

In [31]:
import pandas as pd
df1=pd.util.testing.makeMixedDataFrame()
df2=df1.drop([2,3],axis='rows')
#df=pd.merge(df1,df2,how='left',indicator=True)
df1

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [32]:
import pandas as pd
df1=pd.util.testing.makeMixedDataFrame()
df2=df1.drop([2,3],axis='rows')
#df=pd.merge(df1,df2,how='left',indicator=True)
df2

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
4  4.0  0.0  foo5 2009-01-07